/*	Extension MS	*/
div#scDepotStack {
  position: absolute;
  top: 10px;
  left: 230px;
  color: #ffffff;
  z-index:99999;
}
div#scDepotStack a{
  color: white;
  text-decoration:none;
}
div#scDepotStack a:hover{
  text-decoration:underline;
}



/* outer scroll only */
html {
	overflow: unset;
	position: unset;
	margin:0px;
}
body {
	margin: 0px;
}
.default .scroller, .sco .scroller {
	overflow: unset;
}
.default #menu .mnuSrlUpFra,
.default #menu .mnuSrlDwnFra
{
	display:none;
}
.default #root, .default #main, .default #toolbox, .default #menu, .default #menu > ul.mnu {
	overflow: unset;
}

@keyframes menusel_highlight {
	0% {
		background-color:white;
	}
	100% {
		background-color:#434e52;
	}
}

.default #menu .mnu .sel_yes > .lbl .item span {
	animation: 1s ease 0s 1 menusel_highlight;
}

/* no static content divs */
.default #root {
	bottom: unset;
	min-height: 100%;
	background:none;
}

.default #main {
	width: 85em;
	margin-left: auto;
	margin-right: auto;
	background:transparent;
}
.default .scroller, .sco .scroller {
	position: unset;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}

.module .hBk > h2.hBk_ti:before, .sco .mainContent > h2.mainContent_ti:before {
	height: 100px;
	margin-top: -40px;
}


/* header / footer */
.default #header, .sco #header {
	background:transparent;
	background-color:#434e52;
	color:white;
	height:3.8em;
	vertical-align:middle;
}

.default #header h1, .sco #header h1 {
	vertical-align:middle;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	overflow:visible;
	height:3.8rem;
	display:block;
	width:61rem;
	padding-left:24rem;
	padding-right:0rem;
	display:flex;
	align-items:center;
	white-space:unset;
	line-height:1.2em;
}
.default #header h1 span, .sco #header h1 span {
	margin-left: 1rem;
	display:block;
	text-shadow:0 0 0.5em black;
}
.default #header h1 {
	font-size: 1.6em;
	padding-top: 0em;
}

.home #footer {
	display: block;
	position: absolute;
	bottom: 0px;
	margin-bottom: 0.2em;
	width: 100%;
}

.default #footer, .sco #footer {
	background-color: white;
	flex: unset;
	display: block;
	position: absolute;
	bottom: 0px;
	margin-bottom: 0.2em;
	width: 100%;
}

.default #document {
	margin-top:3.8em;
}

/* cleanup background and borders */
section.article > .hBk_ti, .sco section.article > .mainContent_ti {
	background-image: none;
}

.default #menu {
	margin-top:0.8em;
}

.default #menu .mnu .tgle_c, .default #menu .mnu .tgle_o {
	opacity: 0.8;
	top: 0.4em;
}
.default #menu .mnu .dpt_1 .tgle_c, .default #menu .mnu .dpt_1 .tgle_o {
	opacity: 0.6;
}

.default #menu .mnu li.dpt_0 {
	margin-bottom:0em;
}


.default #menu .mnu a {
	color:#3d3d3d;
	font-weight:bold;

}
.default #menu .mnu .dpt_1 a {
	font-weight:normal;
}
.resInFlow_ti {
	background:transparent;
	margin-top:0px;
	margin-bottom:10px;
}

.pBk_co, .pBk {
	background-image: none;
}
.pBk_co {
	background-color: rgba(236, 236, 236, 0.5);
	margin-bottom:2em;
}


/*float navigation */
.default #navigation nav {
	order: unset;
	flex: unset;
	padding-top: unset;
	position: fixed;
	bottom: 1.9em;
	width: auto;
	height: auto;
	right: 1em;
	z-index:999;
}

.default #navigation li {
	display: block;
	height:40px;
	margin-top:1em;
}
.default #navigation a.btnZen {
	display: block;
	position: fixed;
	left:0.8em;
	bottom:2em;
}
.default #navigation a {
	margin:0em;
}


/* text spacing */
html {
	font-size:1em;
	margin:0px;
}
p {
	font-size:1.2em;
	line-height:1.5em;
}

.sw_child_navList {
	background-image:none;
	font-size:1.3em;
}
.sw_child_navList li {
	margin-bottom:0.5em;
}

/* cleanup menu */
.default #menu .mnu li {
	background-image:none;
}
.default #toolbox {
	flex: 0 0 22em;
	margin-right:2em;
}

/* better homepage */
body.home {
	background: linear-gradient(to bottom, #000, #434e52);
	background-attachment: fixed;
}
.home #root {
	background:unset;
}
.home section.article, .home #navigation a {
	background-color:transparent;
	text-shadow:0 0 1em black, 0 0 0.5em black, 0 0 0.2em black;
}
.home .legalInfo {
	color:white;
}

.home #footer > a {
	bottom:unset;
	padding-top:5px;
}
.home #footer {
	position:static;
}

/* search */
input.schInput {
	border: 1px solid #797979;
	height: 26px;
	width: 72%;
}
.schCmds_act input.schInput {
	border: 1px solid #797979;
}
input.schBtnLaunch {
	background: #797979 url("../img/search/find.svg") no-repeat center left;
	background-size: 100%;
	border: none;
	cursor: pointer;
	color: transparent;
	height: 26px;
	width: 26px;
	padding: 0;
	margin-left: 0px;
}

form.schForm {
	margin-top:1em;
}


/* Better fonts */
html {
	font-family: 'Open Sans', Verdana, 'Dejavu Sans', sans-serif;
}
h1, h2, h3 {
	font-family: 'Roboto', Verdana, 'Dejavu Sans', sans-serif;
}


/* Title spacing for large lines */
h3.pBk_ti {
	line-height: 1.2em;
}
h3.pBk_ti i.type {
	height: 30px;
	padding-top: 10px;
}
h3.pBk_ti span.title {
	padding-top: 10px;
}



section.article > .hBk_ti, .sco section.article > .mainContent_ti {
	font-size: 1.7em;
	margin-top: 0.3em;
}
.pBk_ti {
	font-size: 1.4em;
}



/* roboto-regular - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../skin/fonts/roboto-v19-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-italic - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../skin/fonts/roboto-v19-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-700 - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../skin/fonts/roboto-v19-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-700italic - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../skin/fonts/roboto-v19-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}




/* open-sans-italic - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../skin/fonts/open-sans-v16-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* open-sans-regular - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../skin/fonts/open-sans-v16-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* open-sans-700 - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../skin/fonts/open-sans-v16-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* open-sans-700italic - vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../skin/fonts/open-sans-v16-vietnamese_greek-ext_latin_cyrillic_latin-ext_greek_cyrillic-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body.default #root.zen_true #header h1 {
	padding-left:0em;
	width:85rem;
}


/* force again media query styles, to avoid overriding them */

/* === START - RESPONSIVE DESIGN ============================================ */

/* When the screen is not larger than our max line width, use 100% of it, dont limit line width */
@media screen and (max-width:86em) {
	.default #main, .sco #main, body.default #root.zen_true #header h1 {
		width: 100%;
	}
	.default #toolbox {
		flex: 0 0 24%;
		min-width:13em;
		margin-right:1%;
	}
	.default #header h1 {
		width:100%;
		padding-left:24%;
		left:0em;
		box-sizing: border-box;
	}
}

@media screen and (max-width:68em) {
	.default #toolbox {
		margin-right:0em;
	}
}

/* If it's realy too small, put the navigation menu after the content */
@media screen and (max-width:54em) {
	.default #header h1 {
		padding-left:13rem;
	}
}
@media screen and (max-width:40em) {
	/* header */
	.default #header h1 {
		padding-left:0rem;
	}

	#accessibility .waiTools a{
		background:url("../img/tpl/mnuMobile.svg") no-repeat scroll 0 0 / 30px auto rgba(0, 0, 0, 0);
		height: 30px;
		position: absolute;
		width: 30px;
		opacity:1;
		top:13px;
		right:15px;
		overflow:hidden;
	}
	#accessibility .waiTools a:hover {
		opacity:0.7;
	}
	#accessibility .waiTools a span{
		padding:1337em;
	}

	/* content layout */

	.default #main{
		flex-flow: column;
		background: none;
	}

	.txtRes {
		flex-flow: column;
	}
	.default #tools{
		width:100%;
		background-color:#434e52;
	}
	.default #toolbox{
		display: flex;
		order:2;
	}
	.default #navigation a.btnZen{
		display: none;
	}
	.default #root {
		min-height:10%;
	}
	body {
		height:unset;
	}
	.default #content {
		flex:unset;
	}
	.default #root, .default #document {
		display:block;
		flex-flow:unset;
	}

	/* content icons */
	.module .hBk > h2.hBk_ti:before {
		background-size:70%;
		height: 85px;
		margin-right: 0;
		margin-top: -20px;
	}
	.module .expUc > h2.hBk_ti:before {
		background-position: 0 0;
	}
	.module .intro > h2.hBk_ti:before {
		background-position: 0 -87px;
	}
	.module .quiz > h2.hBk_ti:before {
		background-position: 2px -175px;
	}
	.module .courseUa > h2.hBk_ti:before {
		background-position: 2px -262px;
	}
	.module .practUc > h2.hBk_ti:before {
		background-position: 2px -350px;
	}
	.module .conclu > h2.hBk_ti:before {
		background-position: 2px -439px;
	}
	.module .ueDiv > h2.hBk_ti:before {
		background-position: 2px -524px;
	}
	.module .quest > h2.hBk_ti:before {
		background-position: 2px -613px;
	}
	.module .obj > h2.hBk_ti:before {
		background-position: -2px -698px;
	}
	.module .assmntUa > h2.hBk_ti:before {
		background-position: 2px -783px;
	}
	.pBk_ti i.type {
		margin-right: 5px;
	}
	.pBk_ti i.type span {
		display: none;
	}


	/* homepage */
	.home .logo {
		max-width:86%;
	}
	.home section.article {
		margin:0%;
	}
	.logo > img:nth-child(1) {
		max-width: 100%;
		height: auto;
		padding: 0px;
		margin: 0px;
	}
	.home section.article .hBk_co .logo {
		left: 7%;
	}


	/* search frame fixed for smaller sites */
	.schResFrame {
		left: unset;
		margin-left: unset;
		width: 100%;
	}
	.schDisplayList_on .schResFrame {
		height:50%;
	}
	.schBtnReset {
		right:0px;
		top:-16px;
	}

	/* subwindow should use more space */
	.subWindow_win {
		left:0.7em;
		right:0.7em;
		bottom:0.7em;
	}
	.module .installApp {
		left: auto;
		right: 4.5rem;
		top: 0.5rem;
	}

	.module .notificationPermission {
		left: auto;
		right: 4.5rem;
		top: 0.5rem;
	}

	.module.pwabutton_visible_true .notificationPermission {
		right: 7.5rem;
		left: auto;
	}

}


/* === STOP - RESPONSIVE DESIGN ============================================= */

